.env.production

###> symfony/framework-bundle ###
.env
/private_html/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
